* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100% !important;
    object-fit: cover !important;
}

body {
    background: whitesmoke;
}

#newsLatterSection{
    height: 50vh;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}